/* color palette*/
:root {
  --vt-c-white: #ffffff; /* white */
  --vt-c-gold: #c076d2; /* gold */
  --vt-c-purple: #c076d2; /* purple */
  --vt-c-blue: #252627; /* blue */
  --vt-c-dark: #2e0e75; /* dark */
}

/* semantic color variables for this project */
:root {
  background-image: linear-gradient(to right, #0d012b, #08064a 20%, var(--vt-c-dark) 50%, #08064a 80%, #0d012b);
  --color-heading: var(--vt-c-purple); /* heading color */
  --color-text: var(--vt-c-white); /* text color */
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

