@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-philosopher {
    font-family: 'Philosopher', sans-serif;
}

h1 {
    font-size: 60px;
    font-weight: bold;
    color: var(--vt-c-gold);
    font-family: 'Philosopher', sans-serif;
}

.h1blue {
    font-size: 60px;
    font-weight: bold;
    color:var(--vt-c-dark);
    font-family: 'Philosopher', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: var(--vt-c-gold);
    font-family: 'Philosopher', sans-serif;
}

.h2blue {
    font-size: 35px;
    font-weight: bold;
    color: var(--vt-c-dark);
    font-family: 'Philosopher', sans-serif;
}

h3 {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--vt-c-gold); 
    font-family: 'Philosopher', sans-serif;
}

.h3blue {
    font-size: 25px;
    font-weight: bold;
    text-shadow: 1px 1px 2px var(--vt-c-dark); 
    color: var(--vt-c-white);
    font-family: 'Philosopher', sans-serif;
}

h4 {
    text-shadow: 1px 2px 5px var(--vt-c-dark); 
    font-family: 'Philosopher', sans-serif;
}

p {
    font-size: 20px;
    font-family: 'Philosopher', sans-serif;
}

.pblue {
    font-size: 20px;
    color: var(--vt-c-white);
    font-family: 'Philosopher', sans-serif;
}

.images {
    box-shadow: 0 0 20px var(--vt-c-purple); /* Adjust the values as needed */
    border: 3px solid var(--vt-c-purple);
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    overflow: hidden; /* Optional: Ensure that the shadow doesn't overflow */
}

.imagesblue {
    box-shadow: 0 0 20px var(--vt-c-dark); /* Adjust the values as needed */
    border: 3px solid var(--vt-c-dark);
    border-radius: 10px; /* Optional: Add border radius for rounded corners */
    overflow: hidden; /* Optional: Ensure that the shadow doesn't overflow */
}

.button {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid var(--vt-c-gold);
    color: var(--vt-c-gold);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
    font-family: 'Philosopher', sans-serif;
}

.moon-background {
    background-image: url('@/assets/moon.png'); 
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 100;
    right: 0;
    width: 30%; /* Adjust the width as needed */
    height: 60%;
    z-index: 1; /* Ensure moon is behind the map */
}

.buttonblue {
    display: inline-block;
    font-size: 20px;
    padding: 10px 20px;
    border: 3px solid var(--vt-c-dark);
    color: var(--vt-c-dark);
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
    transition: 0.3s;
    font-family: 'Philosopher', sans-serif;
}

.buttonblue:hover {
    color: #fff; /* White text on hover */
    background-color: var(--vt-c-dark);
    border-color: var(--vt-c-dark);
    transition: 0.3s;
}

.button:hover {
    color: #fff;
    background-color: var(--vt-c-gold);
    border-color: var(--vt-c-gold);
    transition: 0.3s;
}

@media (max-width: 768px) {
    h1 {
        font-size: 30px; 
    }
    .h1blue {
        font-size: 30px; 
    }
    .h3blue {
        font-size: 18px;
    }
    h2 {
        font-size: 20px;
    }
    .h2blue {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 15px;
    }
    .pblue {
        font-size: 15px;
    }
    .button {
        font-size: medium;
        padding: 5px 10px;
    }
    .buttonblue {
        font-size: medium;
        padding: 5px 10px;
    }
}

